/**
 * Paascongres 2017: BuddyPress Styles
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 General
2.0 Members
   2.1 Profile
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 General
--------------------------------------------------------------*/

/*--------------------------------------------------------------
2.0 Members
--------------------------------------------------------------*/

#buddypress div.pagination .pag-count,
#buddypress div.pagination .pagination-links {
	margin: 0;
}

#buddypress ul.item-list li .item-avatar {
	margin: 0;
	text-align: left;
}

#buddypress ul.item-list li .item-avatar img.avatar {
	display: block;
	float: left;
	margin-bottom: 0;
}

#buddypress ul.item-list li .item .item-title {
	text-align: left;
}

@media screen and (max-width: 48em) {
	#buddypress ul.item-list li .item {
		overflow: initial;
		margin-left: 70px;
	}
}

@media screen and (max-width: 30em) {
	#buddypress ul.item-list li div.action {
		position: relative;
		top: auto;
		right: auto;
		margin-left: 70px;
	}
}

@media screen and (min-width: 30em) {
	#buddypress ul.item-list li div.action div:not(:last-of-type) {
		margin-right: 0;
	}
}

/*--------------------------------------------------------------
2.1 Members: Profile
--------------------------------------------------------------*/

.bp-user #buddypress .standard-form .editfield {
	position: relative;
	float: left;
	width: 100%;
	border-bottom: 1px solid #eee;
}

.bp-user #buddypress .standard-form .editfield:before {
	content: '';
	position: absolute;
	left: 25%;
	height: calc( 100% + 1px );
	border-left: 1px solid #eaeaea;
}

.bp-user:not(.colors-dark) #buddypress .standard-form .editfield.alt {
	background: #f5f5f5;
	color: #707070;
}

.bp-user:not(.colors-dark) #buddypress .standard-form .editfield.alt label {
	color: #707070;
}

.bp-user #buddypress .standard-form .editfield > label,
.bp-user #buddypress .standard-form .editfield > span.label,
.bp-user #buddypress .standard-form .editfield legend {
	display: inline-block;
	float: left;
	width: 25%;
	margin: 0;
	padding: 8px;
}

.bp-user #buddypress .standard-form .editfield .bp-required-field-label {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

.bp-user #buddypress .standard-form .required-field > label:after,
.bp-user #buddypress .standard-form .required-field > span.label:after,
.bp-user #buddypress .standard-form .required-field legend:after {
	content: '*';
}

.bp-user #buddypress .standard-form .editfield fieldset {
	margin: 0;
}

.bp-user #main #buddypress .standard-form .editfield > label ~ *,
.bp-user #main #buddypress .standard-form .editfield > span.label ~ *,
.bp-user #main #buddypress .standard-form .editfield legend ~ *,
.bp-user #main #buddypress .standard-form .editfield fieldset ~ * {
	float: right;
	width: calc( 75% - 16px );
	margin: 8px;
}

.bp-user #buddypress .standard-form .editfield select {
	padding: 6px;
}

.bp-user #buddypress p.description:empty {
	display: none;
}

.bp-user #buddypress .standard-form .editfield {
	font-size: 12px;
	font-size: 0.75rem;
}

@media screen and (min-width: 55em) {
	.bp-user #buddypress .standard-form .editfield {
		font-size: 14px;
		font-size: 0.875rem;
	}
}

@media screen and (min-width: 67em) {
	.bp-user #buddypress .standard-form .editfield {
		font-size: 16px;
		font-size: 1rem;
	}
}

/*--------------------------------------------------------------
3.0 Color Scheme: Dark (: missing in BP)
--------------------------------------------------------------*/

.colors-dark #buddypress ul.item-list,
.colors-dark #buddypress ul.item-list li,
.bp-user.colors-dark #buddypress .standard-form .editfield {
	border-color: #333;
}

.colors-dark #buddypress .standard-form textarea,
.colors-dark #buddypress .standard-form input[type=text],
.colors-dark #buddypress .standard-form input[type=color],
.colors-dark #buddypress .standard-form input[type=date],
.colors-dark #buddypress .standard-form input[type=datetime],
.colors-dark #buddypress .standard-form input[type=datetime-local],
.colors-dark #buddypress .standard-form input[type=email],
.colors-dark #buddypress .standard-form input[type=month],
.colors-dark #buddypress .standard-form input[type=number],
.colors-dark #buddypress .standard-form input[type=range],
.colors-dark #buddypress .standard-form input[type=search],
.colors-dark #buddypress .standard-form input[type=tel],
.colors-dark #buddypress .standard-form input[type=time],
.colors-dark #buddypress .standard-form input[type=url],
.colors-dark #buddypress .standard-form input[type=week],
.colors-dark #buddypress .standard-form select,
.colors-dark #buddypress .standard-form input[type=password],
.colors-dark #buddypress .dir-search input[type=search],
.colors-dark #buddypress .dir-search input[type=text],
.colors-dark #buddypress .groups-members-search input[type=search],
.colors-dark #buddypress .groups-members-search input[type=text],
.colors-dark #buddypress .standard-form input:focus,
.colors-dark #buddypress .standard-form textarea:focus,
.colors-dark #buddypress .standard-form select:focus {
	background: #333;
	border-color: #555;
	color: #eee;
}

.colors-dark #buddypress .standard-form button,
.colors-dark #buddypress a.button,
.colors-dark #buddypress input[type=submit],
.colors-dark #buddypress input[type=button],
.colors-dark #buddypress input[type=reset],
.colors-dark #buddypress ul.button-nav li a,
.colors-dark #buddypress .generic-button a,
.colors-dark #buddypress .comment-reply-link,
.colors-dark a.bp-title-button {
	background: #fff;
	color: #222;
}

.colors-dark #buddypress .standard-form button:hover,
.colors-dark #buddypress a.button:focus,
.colors-dark #buddypress a.button:hover,
.colors-dark #buddypress input[type=submit]:hover,
.colors-dark #buddypress input[type=button]:hover,
.colors-dark #buddypress input[type=reset]:hover,
.colors-dark #buddypress ul.button-nav li a:hover,
.colors-dark #buddypress ul.button-nav li.current a,
.colors-dark #buddypress div.generic-button a:hover,
.colors-dark #buddypress .comment-reply-link:hover {
	background: #bbb;
	color: #222;
}
